@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: block;
    /* background: radial-gradient(whitesmoke, rgb(0, 194, 194), rgba(0, 160, 160, 0.856)); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 16px;
}

:root{
    --black: #000;
    --teal: darkcyan;
    --white: #fff;
}

/************************************ HEADER ************************************/

.premier{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--black);
}

.premier h1{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
}

.premier h1:hover{
    color: rgb(0, 201, 201);
}

.premier address{
    display: flex;
    word-spacing: 1rem;
    color: var(--white);
}

.premier address:hover{
    color: rgb(0, 201, 201);
}

/************************************ NAVBAR ************************************/

nav {
    display: flex;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 60px;
    background-color: darkcyan;
    justify-content: space-around;
    z-index: 1;
    line-height: 80px;
    grid-column: 1 / 5;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .Home {
    padding-top: 60px;
}

nav.blanc {
    background-color: var(--white);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
    color: var(--white);
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.logo.darkcyan{
    color: darkcyan;
}

b{
    font-size: 70px;
    color: var(--black);
}

.navItems{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.navItems li{
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

.navItems li:hover{
    display: block;
    border-bottom: 8px solid var(--black);
}

.navItems li a{
    font-size: 25px;
    color: var(--white);
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}

.navItems li a.noir {
    color: var(--black);
}



.links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a{
    font-size: 30px;
    color: var(--white);
    margin: 25px 10px;
}

#link a.darkcyan {
    color: darkcyan;
}

#link a.darkcyan:hover{
    color: var(--black);
}


/************************************ MAIN ************************************/
.titre{
    color: var(--white);
    font-size: 5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.titre2{
    text-align: center;
    margin-bottom: 2.5rem;
    color: var(--black);
}
/************************************ MAIN ************************************/



/************************************ setion HOME ************************************/

.Home {
    display: flex;
    flex-direction: column;
    background: var(--black);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:transparent;
    gap: calc(50px + 10%);

    width: 80%;
   height: 50vh;
}

.titleP {
    color: var(--white);
    font-size: 5rem;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


.title {
    color: var(--white);
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
}

.Home article{
    width: 60%;
    text-align: justify;
    color: var(--white);
}

#homeBtn{
    position: relative;
    color: var(--white);
    border-radius: 8px;
    background-color: darkcyan;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    overflow: hidden;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease;
}

#homeBtn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    opacity: 0;
}

#homeBtn:hover::after {
    width: 200px;
    height: 200px;
    opacity: 1;
    transition: all 0.4s ease-out;
}

/************************************ setion CV ************************************/

.sectionCv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    /* border: 5px solid black; */
}

.TitleCompetences {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 1.5rem;
}

.Developpement {
    grid-column: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.Responsive {
    grid-column: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.Communication {
    grid-column: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#btnCV{
    position: relative;
    width: 14%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.767);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: var(--white);
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: all 0.3s ease;
}

#btnCV::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    opacity: 0;
}

#btnCV:hover::after{
    width: 200px;
    height: 200px;
    opacity: 1;
    transition: all 0.8s ease-out;
}

/************************************ PARALLAX N°1 ************************************/

.parallax {
    height: 20vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    background-image: url("../image/codebackground.jpg");
}

/************************************ section SAVOIR-FAIRE ************************************/

.savoirFaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    /* border: 5px solid black; */
}

.grid-container_CV {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    /* border: 5px solid black; */
}

.Emploi {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.contente{
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 1.5rem;
}

.Experiences {
    /*width: 33%;*/
    min-height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Experiences h3 {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: lighter;
    color: var(--black);
}

.Experiences h4 {
    margin-top: 0.8rem;
}

.Experiences article{
    width: 100%;
}

.Competences {
    min-height: 100%;
    text-align: center;
}

.Competences h3 {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: lighter;
    color: var(--black);
}

.Competences h4 {
    margin-top: 0.8rem;
}

.Competences ul li{
    list-style: none;
}

.Formation {
    min-height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Formation p{
    width: 100%;
}

.Formation h3 {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: lighter;
    color: var(--black);
}

.Formation h4 {
    margin-top: 0.8rem;
}

.infocompl {
    min-height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.infocompl h3{
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: lighter;
    color: var(--black);

}

/************************************ PARALLAX N°2 ************************************/

.parallax2 {
    background-image: url("../image/coding.png");
}

/************************************ section MES PROJETS ************************************/

.grid-container_bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    width: 100%;
    min-height: 80vh;
    /* border: 5px solid black; */
}

.cards{    
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.w3-card-4{
    width: 100%;
    background-color: whitesmoke;
}


.w3-card-4 img {
    width: 100%;
}

/************************************ section CONTACTS ************************************/

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 5px solid black; */
}

.headPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headPage p span{
    font-weight: 800;
}

.grid-container_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 100%;
    min-height: 90%;
}

.geo{
    display: flex;
    width: 50%;
    margin-bottom: 6%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: none;
    padding: 20px;
}

/************************************ FOOTER ************************************/

footer {
    color: white;
    text-align: center;
}

.footercontent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    margin-top: 5rem;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--black);
}

.cv {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.cv h2{
    color: var(--white);
    font-size: 3rem;
}

.cv img {
    width: 20vw;
}

.socialLinks {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: start;
    align-self: flex-start;
    height: 80%;
    
}

.socialLinks a{
    margin: 1rem;
}

.socialLinks a i{
    font-size: 2rem;
    color: var(--white);
}

.mentionsLegales {
    min-height: 5vh;
    align-content: center;
    background-color: var(--black);
}

.mentionsLegales p{
    width: 100%;
}